Importing Libraries

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp310-cp310-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.3 MB 1.9 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/11.3 MB 2.5 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/11.3 MB 3.0 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.3 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.4/11.3 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.3 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.3 MB 3.1 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.3 MB 2.8 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.3 MB 2.7 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.3 MB 2.7 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.3 MB 2.2 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.3 MB 2.3 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.3 MB 2.5 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.3 MB 2.6 MB/s eta 0:00:02
   ------------------------------ --------- 8.7/11.3 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.2/11.3 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.2/11.3 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.3 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.3 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.3 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 2.4 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.6-cp310-cp310-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp310-cp310-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp310-cp310-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp310-cp310-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp310-cp310-win_amd64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.6-cp310-cp310-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.1 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.1 MB 2.4 MB/s eta 0:00:04
   ----- ---------------------------------- 1.0/8.1 MB 1.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.3/8.1 MB 1.8 MB/s eta 0:00:04
   ------- -------------------------------- 1.6/8.1 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.6/8.1 MB 1.5 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.1 MB 1.4 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.1 MB 1.4 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.1 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.1 MB 1.2 MB/s eta 0:00:05
   ----------- ---------------------------- 2.4/8.1 MB 972.7 kB/s eta 0:00:06
   ----------- ---------------------------- 2.4/8.1 MB 972.7 kB/s eta 0:00:06
   ------------ --------------------------- 2.6/8.1 MB 993.4 kB/s eta 0:00:06
   -------------- ------------------------- 2.9/8.1 MB 1.0 MB/s eta 0:00:06
   --------------- ------------------------ 3.1/8.1 MB 997.4 kB/s eta 0:00:05
   ---------------- ----------------------- 3.4/8.1 MB 1.0 MB/s eta 0:00:05
   ------------------ --------------------- 3.7/8.1 MB 1.0 MB/s eta 0:00:05
   ------------------ --------------------- 3.7/8.1 MB 1.0 MB/s eta 0:00:05
   ------------------- -------------------- 3.9/8.1 MB 982.6 kB/s eta 0:00:05
   ------------------- -------------------- 3.9/8.1 MB 982.6 kB/s eta 0:00:05
   ------------------- -------------------- 3.9/8.1 MB 982.6 kB/s eta 0:00:05
   -------------------- ------------------- 4.2/8.1 MB 925.2 kB/s eta 0:00:05
   --------------------- ------------------ 4.5/8.1 MB 941.9 kB/s eta 0:00:04
   ----------------------- ---------------- 4.7/8.1 MB 957.1 kB/s eta 0:00:04
   ------------------------ --------------- 5.0/8.1 MB 967.9 kB/s eta 0:00:04
   --------------------------- ------------ 5.5/8.1 MB 1.0 MB/s eta 0:00:03
   --------------------------- ------------ 5.5/8.1 MB 1.0 MB/s eta 0:00:03
   --------------------------- ------------ 5.5/8.1 MB 1.0 MB/s eta 0:00:03
   ---------------------------- ----------- 5.8/8.1 MB 962.6 kB/s eta 0:00:03
   ----------------------------- ---------- 6.0/8.1 MB 948.9 kB/s eta 0:00:03
   ------------------------------- -------- 6.3/8.1 MB 962.2 kB/s eta 0:00:02
   -------------------------------- ------- 6.6/8.1 MB 984.4 kB/s eta 0:00:02
   --------------------------------- ------ 6.8/8.1 MB 1.0 MB/s eta 0:00:02
   ---------------------------------- ----- 7.1/8.1 MB 1.0 MB/s eta 0:00:02
   ------------------------------------ --- 7.3/8.1 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 988.4 kB/s eta 0:00:00
Downloading contourpy-1.3.2-cp310-cp310-win_amd64.whl (221 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp310-cp310-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 1.5 MB/s eta 0:00:02
   ------------- -------------------------- 0.8/2.3 MB 1.2 MB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.3 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.3 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.2 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.3 MB 949.8 kB/s eta 0:00:01
   ------------------------------------ --- 2.1/2.3 MB 978.7 kB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 976.6 kB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp310-cp310-win_amd64.whl (73 kB)
Downloading pillow-11.3.0-cp310-cp310-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   --- ------------------------------------ 0.5/7.0 MB 1.9 MB/s eta 0:00:04
   ---- ----------------------------------- 0.8/7.0 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.3/7.0 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 1.6/7.0 MB 1.5 MB/s eta 0:00:04
   --------- ------------------------------ 1.6/7.0 MB 1.5 MB/s eta 0:00:04
   --------- ------------------------------ 1.6/7.0 MB 1.5 MB/s eta 0:00:04
   ---------- ----------------------------- 1.8/7.0 MB 1.1 MB/s eta 0:00:05
   ---------- ----------------------------- 1.8/7.0 MB 1.1 MB/s eta 0:00:05
   ------------ --------------------------- 2.1/7.0 MB 1.0 MB/s eta 0:00:05
   ------------ --------------------------- 2.1/7.0 MB 1.0 MB/s eta 0:00:05
   ------------- -------------------------- 2.4/7.0 MB 925.5 kB/s eta 0:00:05
   ------------- -------------------------- 2.4/7.0 MB 925.5 kB/s eta 0:00:05
   ------------- -------------------------- 2.4/7.0 MB 925.5 kB/s eta 0:00:05
   --------------- ------------------------ 2.6/7.0 MB 778.1 kB/s eta 0:00:06
   ---------------- ----------------------- 2.9/7.0 MB 810.3 kB/s eta 0:00:06
   ------------------ --------------------- 3.1/7.0 MB 846.4 kB/s eta 0:00:05
   ------------------- -------------------- 3.4/7.0 MB 867.8 kB/s eta 0:00:05
   ------------------- -------------------- 3.4/7.0 MB 867.8 kB/s eta 0:00:05
   --------------------- ------------------ 3.7/7.0 MB 829.2 kB/s eta 0:00:04
   --------------------- ------------------ 3.7/7.0 MB 829.2 kB/s eta 0:00:04
   --------------------- ------------------ 3.7/7.0 MB 829.2 kB/s eta 0:00:04
   ---------------------- ----------------- 3.9/7.0 MB 790.8 kB/s eta 0:00:04
   ---------------------- ----------------- 3.9/7.0 MB 790.8 kB/s eta 0:00:04
   ---------------------- ----------------- 3.9/7.0 MB 790.8 kB/s eta 0:00:04
   ------------------------ --------------- 4.2/7.0 MB 757.9 kB/s eta 0:00:04
   ------------------------ --------------- 4.2/7.0 MB 757.9 kB/s eta 0:00:04
   --------------------------- ------------ 4.7/7.0 MB 775.0 kB/s eta 0:00:03
   ---------------------------- ----------- 5.0/7.0 MB 801.0 kB/s eta 0:00:03
   ------------------------------ --------- 5.2/7.0 MB 811.1 kB/s eta 0:00:03
   ------------------------------- -------- 5.5/7.0 MB 828.5 kB/s eta 0:00:02
   ------------------------------- -------- 5.5/7.0 MB 828.5 kB/s eta 0:00:02
   --------------------------------- ------ 5.8/7.0 MB 830.9 kB/s eta 0:00:02
   --------------------------------- ------ 5.8/7.0 MB 830.9 kB/s eta 0:00:02
   --------------------------------- ------ 5.8/7.0 MB 830.9 kB/s eta 0:00:02
   ---------------------------------- ----- 6.0/7.0 MB 785.3 kB/s eta 0:00:02
   ------------------------------------ --- 6.3/7.0 MB 795.6 kB/s eta 0:00:01
   ------------------------------------- -- 6.6/7.0 MB 805.3 kB/s eta 0:00:01
   ------------------------------------- -- 6.6/7.0 MB 805.3 kB/s eta 0:00:01
   ---------------------------------------  6.8/7.0 MB 806.6 kB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 804.3 kB/s eta 0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 pyparsing-3.2.5

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
!pip install scikit-learn

Collecting scikit-learn

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages (from scikit-learn) (2.0.2)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.15.3-cp310-cp310-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.9 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.9 MB 4.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.3/8.9 MB 2.4 MB/s eta 0:00:04
   -------- ------------------------------- 1.8/8.9 MB 2.3 MB/s eta 0:00:04
   -------- ------------------------------- 1.8/8.9 MB 2.3 MB/s eta 0:00:04
   --------- ------------------------------ 2.1/8.9 MB 2.0 MB/s eta 0:00:04
   ---------- ----------------------------- 2.4/8.9 MB 1.8 MB/s eta 0:00:04
   ----------- ---------------------------- 2.6/8.9 MB 1.8 MB/s eta 0:00:04
   -------------- ------------------------- 3.1/8.9 MB 1.7 MB/s eta 0:00:04
   -------------- ------------------------- 3.1/8.9 MB 1.7 MB/s eta 0:00:04
   ---------------- ----------------------- 3.7/8.9 MB 1.7 MB/s eta 0:00:04
   ----------------- ---------------------- 3.9/8.9 MB 1.7 MB/s eta 0:00:03
   ------------------ --------------------- 4.2/8.9 MB 1.6 MB/s eta 0:00:03
   -------------------- ------------------- 4.5/8.9 MB 1.6 MB/s eta 0:00:03
   -------------------- ------------------- 4.5/8.9 MB 1.6 MB/s eta 0:00:03
   -------------------- ------------------- 4.5/8.9 MB 1.6 MB/s eta 0:00:03
   --------------------- ------------------ 4.7/8.9 MB 1.3 MB/s eta 0:00:04
   ------------------------ --------------- 5.5/8.9 MB 1.4 MB/s eta 0:00:03
   ------------------------ --------------- 5.5/8.9 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 6.6/8.9 MB 1.6 MB/s eta 0:00:02
   ---------------------------------- ----- 7.6/8.9 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 8.7/8.9 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 1.9 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.15.3-cp310-cp310-win_amd64.whl (41.3 MB)
   ---------------------------------------- 0.0/41.3 MB ? eta -:--:--
    --------------------------------------- 0.8/41.3 MB 4.8 MB/s eta 0:00:09
   - -------------------------------------- 1.6/41.3 MB 4.9 MB/s eta 0:00:09
   -- ------------------------------------- 2.4/41.3 MB 4.3 MB/s eta 0:00:09
   -- ------------------------------------- 2.9/41.3 MB 4.4 MB/s eta 0:00:09
   -- ------------------------------------- 2.9/41.3 MB 4.4 MB/s eta 0:00:09
   --- ------------------------------------ 3.7/41.3 MB 3.1 MB/s eta 0:00:13
   ---- ----------------------------------- 4.7/41.3 MB 3.4 MB/s eta 0:00:11
   ----- ---------------------------------- 5.5/41.3 MB 3.4 MB/s eta 0:00:11
   ------ --------------------------------- 6.3/41.3 MB 3.6 MB/s eta 0:00:10
   ------ --------------------------------- 6.3/41.3 MB 3.6 MB/s eta 0:00:10
   ------ --------------------------------- 7.1/41.3 MB 3.2 MB/s eta 0:00:11
   ------- -------------------------------- 8.1/41.3 MB 3.3 MB/s eta 0:00:10
   -------- ------------------------------- 9.2/41.3 MB 3.5 MB/s eta 0:00:10
   --------- ------------------------------ 9.4/41.3 MB 3.4 MB/s eta 0:00:10
   --------- ------------------------------ 9.4/41.3 MB 3.4 MB/s eta 0:00:10
   --------- ------------------------------ 10.2/41.3 MB 3.1 MB/s eta 0:00:11
   ---------- ----------------------------- 11.0/41.3 MB 3.2 MB/s eta 0:00:10
   ----------- ---------------------------- 11.5/41.3 MB 3.2 MB/s eta 0:00:10
   ----------- ---------------------------- 11.5/41.3 MB 3.2 MB/s eta 0:00:10
   ----------- ---------------------------- 11.8/41.3 MB 2.9 MB/s eta 0:00:11
   ----------- ---------------------------- 12.3/41.3 MB 2.8 MB/s eta 0:00:11
   ------------ --------------------------- 13.1/41.3 MB 2.9 MB/s eta 0:00:10
   ------------- -------------------------- 13.9/41.3 MB 2.9 MB/s eta 0:00:10
   ------------- -------------------------- 13.9/41.3 MB 2.9 MB/s eta 0:00:10
   -------------- ------------------------- 14.7/41.3 MB 2.9 MB/s eta 0:00:10
   --------------- ------------------------ 15.7/41.3 MB 2.9 MB/s eta 0:00:09
   --------------- ------------------------ 16.3/41.3 MB 2.9 MB/s eta 0:00:09
   ---------------- ----------------------- 16.8/41.3 MB 3.0 MB/s eta 0:00:09
   ---------------- ----------------------- 16.8/41.3 MB 3.0 MB/s eta 0:00:09
   ----------------- ---------------------- 17.6/41.3 MB 2.8 MB/s eta 0:00:09
   ----------------- ---------------------- 18.4/41.3 MB 2.9 MB/s eta 0:00:08
   ------------------ --------------------- 19.1/41.3 MB 2.9 MB/s eta 0:00:08
   ------------------ --------------------- 19.4/41.3 MB 2.9 MB/s eta 0:00:08
   ------------------- -------------------- 19.9/41.3 MB 2.8 MB/s eta 0:00:08
   -------------------- ------------------- 20.7/41.3 MB 2.8 MB/s eta 0:00:08
   -------------------- ------------------- 21.5/41.3 MB 2.9 MB/s eta 0:00:07
   --------------------- ------------------ 22.3/41.3 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 22.8/41.3 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 22.8/41.3 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 23.6/41.3 MB 2.8 MB/s eta 0:00:07
   ----------------------- ---------------- 24.1/41.3 MB 2.8 MB/s eta 0:00:07
   ------------------------ --------------- 25.2/41.3 MB 2.9 MB/s eta 0:00:06
   ------------------------ --------------- 25.2/41.3 MB 2.9 MB/s eta 0:00:06
   ------------------------- -------------- 26.2/41.3 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 27.0/41.3 MB 2.9 MB/s eta 0:00:05
   -------------------------- ------------- 27.5/41.3 MB 2.9 MB/s eta 0:00:05
   -------------------------- ------------- 27.8/41.3 MB 2.9 MB/s eta 0:00:05
   -------------------------- ------------- 27.8/41.3 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 28.3/41.3 MB 2.8 MB/s eta 0:00:05
   --------------------------- ------------ 28.8/41.3 MB 2.8 MB/s eta 0:00:05
   ---------------------------- ----------- 29.6/41.3 MB 2.8 MB/s eta 0:00:05
   ----------------------------- ---------- 30.1/41.3 MB 2.8 MB/s eta 0:00:04
   ----------------------------- ---------- 30.7/41.3 MB 2.8 MB/s eta 0:00:04
   ------------------------------ --------- 31.5/41.3 MB 2.8 MB/s eta 0:00:04
   ------------------------------- -------- 32.2/41.3 MB 2.8 MB/s eta 0:00:04
   -------------------------------- ------- 33.3/41.3 MB 2.8 MB/s eta 0:00:03
   -------------------------------- ------- 33.6/41.3 MB 2.9 MB/s eta 0:00:03
   -------------------------------- ------- 33.8/41.3 MB 2.8 MB/s eta 0:00:03
   --------------------------------- ------ 34.6/41.3 MB 2.8 MB/s eta 0:00:03
   ---------------------------------- ----- 35.7/41.3 MB 2.8 MB/s eta 0:00:02
   ----------------------------------- ---- 36.4/41.3 MB 2.9 MB/s eta 0:00:02
   ----------------------------------- ---- 36.7/41.3 MB 2.8 MB/s eta 0:00:02
   ------------------------------------ --- 37.7/41.3 MB 2.9 MB/s eta 0:00:02
   ------------------------------------- -- 38.8/41.3 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 40.1/41.3 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.3 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  41.2/41.3 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 41.3/41.3 MB 2.9 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.15.3 threadpoolctl-3.6.0

In [9]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.tree import plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    classification_report, confusion_matrix
)

Loading the dataset

In [10]:
dataset_path = r"D:\a_PERSONAL\LMS\SELF_PROJECT\info_tech\test\Day9\dataset\project01_dataset.csv"

In [11]:
df_data = pd.read_csv(dataset_path)
df_data.head()

,Client_ID,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,A2,1M,M,Graduate,Other,31-45,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,A3,1M,F,High School,Other,Less than 30,0,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,A4,100K,F,High School,Single,31-45,4,3,2,2,...,0,0,0,0,0,0,0,0,0,1
3,A5,200K,F,Graduate,Single,31-45,2,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,A6,1M,F,Graduate,Other,31-45,2,2,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

Data Preprocessing

In [12]:
# Check for null values
df_data[df_data.isnull().any(axis=1)].count()

Client_ID             0
Balance_Limit_V1      0
Gender                0
EDUCATION_STATUS      0
MARITAL_STATUS        0
AGE                   0
PAY_JULY              0
PAY_AUG               0
PAY_SEP               0
PAY_OCT               0
PAY_NOV               0
PAY_DEC               0
DUE_AMT_JULY          0
DUE_AMT_AUG           0
DUE_AMT_SEP           0
DUE_AMT_OCT           0
DUE_AMT_NOV           0
DUE_AMT_DEC           0
PAID_AMT_JULY         0
PAID_AMT_AUG          0
PAID_AMT_SEP          0
PAID_AMT_OCT          0
PAID_AMT_NOV          0
PAID_AMT_DEC          0
NEXT_MONTH_DEFAULT    0
dtype: int64

In [13]:
# Remove unnecessary fields
df_data_v2 = df_data.copy()
df_data_v2.drop(['Client_ID'], axis=1, inplace=True)
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1M,M,Graduate,Other,31-45,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1M,F,High School,Other,Less than 30,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100K,F,High School,Single,31-45,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200K,F,Graduate,Single,31-45,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1M,F,Graduate,Other,31-45,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

In [14]:
# Encoding the categorical variables
label_encoder = preprocessing.LabelEncoder()

In [15]:
# Encode the Gender
df_data_v2['Gender'] = label_encoder.fit_transform(df_data_v2['Gender'].astype(str))

In [16]:
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1M,1,Graduate,Other,31-45,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1M,0,High School,Other,Less than 30,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100K,0,High School,Single,31-45,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200K,0,Graduate,Single,31-45,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1M,0,Graduate,Other,31-45,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

1 - Male
and
0 - Female

In [17]:
# Encode the Marital Status
df_data_v2['MARITAL_STATUS'] = label_encoder.fit_transform(df_data_v2['MARITAL_STATUS'].astype(str))

In [18]:
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1M,1,Graduate,0,31-45,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1M,0,High School,0,Less than 30,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100K,0,High School,1,31-45,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200K,0,Graduate,1,31-45,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1M,0,Graduate,0,31-45,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

0 - Single
and
1 - Other

In [19]:
# Encoding for Age
age_label = df_data_v2['AGE'].unique()
print(age_label)

['31-45' 'Less than 30' '46-65' 'More than 65']

In [20]:
age = df_data['AGE'].values
print(age)

['31-45' 'Less than 30' '31-45' ... '31-45' '31-45' '46-65']

In [21]:
ages = []
for data in age:
    if data == 'Less than 30':
        ages.append(1)
    elif data == '31-45':
        ages.append(2)
    elif data == '46-65':
        ages.append(3)
    else:
        ages.append(4)

In [22]:
df_data_v2['AGE'] = pd.DataFrame(ages)
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1M,1,Graduate,0,2,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1M,0,High School,0,1,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100K,0,High School,1,2,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200K,0,Graduate,1,2,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1M,0,Graduate,0,2,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

In [23]:
# Encoding for EDUCATION_STATUS
edu_status_label = df_data_v2['EDUCATION_STATUS'].unique()
print(edu_status_label)

['Graduate' 'High School' 'Other']

In [24]:
edu_status = df_data['EDUCATION_STATUS'].values
print(edu_status)

['Graduate' 'High School' 'High School' ... 'Other' 'High School' 'Other']

In [25]:
upd_edu_status = []
for data in edu_status:
    if data == 'High School':
        upd_edu_status.append(1)
    elif data == 'Graduate':
        upd_edu_status.append(2)
    else:
        upd_edu_status.append(3)

In [26]:
df_data_v2['EDUCATION_STATUS'] = pd.DataFrame(upd_edu_status)
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1M,1,2,0,2,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1M,0,1,0,1,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100K,0,1,1,2,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200K,0,2,1,2,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1M,0,2,0,2,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

In [27]:
# Encoding for Balance_Limit_V1
balance_label = df_data_v2['Balance_Limit_V1'].unique()
print(balance_label)

['1M' '100K' '200K' '400K' ' 500K' '300K' '1.5M' '2.5M']

In [28]:
balance = df_data['Balance_Limit_V1'].values
print(balance)

['1M' '1M' '100K' ... '100K' '200K' '200K']

In [29]:
updated_balance = []
for value in balance:
    if value == '100K':
        updated_balance.append(100000)
    elif value == '200K':
        updated_balance.append(200000)
    elif value == '300K':
        updated_balance.append(300000)
    elif value == '400K':
        updated_balance.append(400000)
    elif value == '500K':
        updated_balance.append(500000)
    elif value == '1M':
        updated_balance.append(1000000)
    elif value == '1.5M':
        updated_balance.append(1500000)
    else:
        updated_balance.append(2500000)

In [30]:
df_data_v2['Balance_Limit_V1'] = pd.DataFrame(updated_balance)
df_data_v2.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1000000,1,2,0,2,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1000000,0,1,0,1,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100000,0,1,1,2,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200000,0,2,1,2,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1000000,0,2,0,2,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

In [31]:
print(df_data_v2.dtypes)

Balance_Limit_V1      int64
Gender                int64
EDUCATION_STATUS      int64
MARITAL_STATUS        int64
AGE                   int64
PAY_JULY              int64
PAY_AUG               int64
PAY_SEP               int64
PAY_OCT               int64
PAY_NOV               int64
PAY_DEC               int64
DUE_AMT_JULY          int64
DUE_AMT_AUG           int64
DUE_AMT_SEP           int64
DUE_AMT_OCT           int64
DUE_AMT_NOV           int64
DUE_AMT_DEC           int64
PAID_AMT_JULY         int64
PAID_AMT_AUG          int64
PAID_AMT_SEP          int64
PAID_AMT_OCT          int64
PAID_AMT_NOV          int64
PAID_AMT_DEC          int64
NEXT_MONTH_DEFAULT    int64
dtype: object

In [32]:
df_data_v3 = df_data_v2.copy()
df_data_v3.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,PAY_NOV,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1000000,1,2,0,2,-1,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,1000000,0,1,0,1,0,-1,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,100000,0,1,1,2,4,3,2,2,-2,...,0,0,0,0,0,0,0,0,0,1
3,200000,0,2,1,2,2,0,0,0,0,...,97309,100353,102740,3855,3890,3696,4620,4049,3918,1
4,1000000,0,2,0,2,2,2,0,0,0,...,435354,445271,453899,0,20790,16170,17325,16401,17325,0

In [33]:
# Drop unnecessary fields
df_data_v3.drop(['PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT', 'PAY_NOV'], axis=1, inplace=True)
df_data_v3.drop(['DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP', 'DUE_AMT_OCT', 'DUE_AMT_NOV'], axis=1, inplace=True)
df_data_v3.drop(['PAID_AMT_JULY', 'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV'], axis=1, inplace=True)
df_data_v3.head()

,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_DEC,DUE_AMT_DEC,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,1000000,1,2,0,2,-1,-13982,538165,0
1,1000000,0,1,0,1,0,124590,33666,0
2,100000,0,1,1,2,-2,0,0,1
3,200000,0,2,1,2,0,102740,3918,1
4,1000000,0,2,0,2,0,453899,17325,0

In [34]:
# Count of each unique category
print(df_data_v3['NEXT_MONTH_DEFAULT'].value_counts())

NEXT_MONTH_DEFAULT
0    18670
1     5330
Name: count, dtype: int64

Split the dataset

In [35]:
x = df_data_v3.drop(['NEXT_MONTH_DEFAULT'], axis=1)
y = df_data_v3['NEXT_MONTH_DEFAULT']

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [37]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((18000, 8), (6000, 8), (18000,), (6000,))

Standardizing the independent variables

In [38]:
standard = preprocessing.StandardScaler()

In [52]:
x_train = standard.fit_transform(x_train)
x_test = standard.fit_transform(x_test)

In [53]:
print(x_train)

[[ 2.32288829  0.81206219 -1.7892426  ...  0.24758038  1.73628339
   0.27039796]
 [ 0.32971513  0.81206219 -1.7892426  ...  0.24758038  2.47706858
   0.09095544]
 [-0.73331055 -1.23143277 -1.7892426  ... -1.48610834 -0.64401363
  -0.28808906]
 ...
 [ 0.32971513  0.81206219 -0.43449702 ... -0.61926398 -0.63756748
  -0.26696852]
 [-0.60043234  0.81206219 -1.7892426  ...  0.24758038 -0.48766762
  -0.26642937]
 [ 0.99410619 -1.23143277 -0.43449702 ... -1.48610834 -0.64401363
  -0.28808906]]

Train the model

In [54]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'max_features': ['sqrt', 'log2']
}

In [55]:
random_search = RandomizedSearchCV(
    estimator=RandomForestClassifier(random_state=42),
    param_distributions=param_grid,
    n_iter=50,  # number of parameter settings sampled
    cv=5,
    n_jobs=-1,
    verbose=2,
    random_state=42
)
random_search.fit(x_train, y_train)

C:\Users\user\.pyenv\pyenv-win\versions\3.10.5\lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 24 is smaller than n_iter=50. Running 24 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 24 candidates, totalling 120 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
                   n_iter=50, n_jobs=-1,
                   param_distributions={'max_depth': [None, 10, 20, 30],
                                        'max_features': ['sqrt', 'log2'],
                                        'n_estimators': [100, 200, 300]},
                   random_state=42, verbose=2)

In [56]:
print("Best parameters (RandomizedSearchCV):", random_search.best_params_)
rs_best_model = random_search.best_estimator_

Best parameters (RandomizedSearchCV): {'n_estimators': 100, 'max_features': 'sqrt', 'max_depth': 10}

In [57]:
# Training accuracy
y_train_pred = gs_best_model.predict(x_train)

# Testing accuracy
y_test_pred = gs_best_model.predict(x_test)

In [58]:
# Training accuracy
y_train_pred = rs_best_model.predict(x_train)

# Testing accuracy
y_test_pred = rs_best_model.predict(x_test)

Testing the model

In [59]:
print("Training Accuracy:", accuracy_score(y_train, y_train_pred))

print("Testing Accuracy:", accuracy_score(y_test, y_test_pred))

print("Precision:", precision_score(y_test,
                                    y_test_pred,
                                    average="weighted"))

print('Recall:', recall_score(y_test,
                              y_test_pred,
                              average="weighted"))

print('F1 score:', f1_score(y_test, y_test_pred,
                            average="weighted"))

confusion_matrix = confusion_matrix(y_test, y_test_pred)
print('Confusion matrix:')
print(confusion_matrix)

Training Accuracy: 0.8196111111111111
Testing Accuracy: 0.7873333333333333
Precision: 0.7540529274642561
Recall: 0.7873333333333333
F1 score: 0.733656798333825

TypeError: 'numpy.ndarray' object is not callable

Visualize the Results

In [ ]:
# Pick one tree
estimator = gs_best_model.estimators_[75]
plt.figure(figsize=(12, 8))
plot_tree(estimator, feature_names=x.columns, class_names=["No Default", "Default"], filled=True, max_depth=5)
plt.show()

In [ ]:
# Pick one tree
estimator = rs_best_model.estimators_[49]
plt.figure(figsize=(12, 8))
plot_tree(estimator, feature_names=x.columns, class_names=["No Default", "Default"], filled=True, max_depth=5)
plt.show()

Save the models

In [61]:
# Save the model
import pickle

save_path = r'D:\a_PERSONAL\LMS\SELF_PROJECT\info_tech\test\Day9\Save model\ccd_model.pkl'

with open(save_path, 'wb') as file:
    pickle.dump(rs_best_model, file)

print(f"Model saved at: {save_path}")

Model saved at: D:\a_PERSONAL\LMS\SELF_PROJECT\info_tech\test\Day9\Save model\ccd_model.pkl

In [60]:
import os
print(os.getcwd())

D:\a_PERSONAL\LMS\SELF_PROJECT\info_tech\test\Day9